<!DOCTYPE html>
<html>
<head>
    <title>Create RFQ</title>
</head>
<body>
     <nav><div>
    <a href="/dashboard">Dashboard</a> |
    <a href="/vendors">Vendors</a> |
    <a href="/rfqs">RFQs</a> |
    <a href="/quotations">Quotations</a> |
    <a href="/approvals">Approvals</a>
</div>

<hr></nav>

<h1>Create RFQ</h1>

<form method="POST">

    <input type="text"
           name="title"
           placeholder="RFQ Title">

    <br><br>

    <textarea
        name="description"
        placeholder="Description">
    </textarea>

    <br><br>

    <input type="number"
           name="quantity"
           placeholder="Quantity">

    <br><br>

    <input type="date"
           name="deadline">

    <br><br>

    <button type="submit">
        Create RFQ
    </button>

</form>

</body>
</html>