<!DOCTYPE html>
<html>
<head>
    <title>Quotations</title>
</head>
<body> <nav><div style="padding:10px;background:#f0f0f0">

<a href="/dashboard">Dashboard</a> |

<a href="/vendors">Vendors</a> |

<a href="/rfqs">RFQs</a> |

<a href="/quotations">Quotations</a>

</div>

<hr></nav>
<h1>Quotation List</h1>

<table border="1">

<tr>
    <th>ID</th>
    <th>RFQ</th>
    <th>Vendor</th>
    <th>Price</th>
    <th>Delivery</th>
</tr>

{% for q in quotations %}

<tr>
    <td>{{ q.id }}</td>
    <td>{{ q.rfq_id }}</td>
    <td>{{ q.vendor_id }}</td>
    <td>{{ q.price }}</td>
    <td>{{ q.delivery_days }}</td>
</tr>

{% endfor %}

</table>

</body>
</html>